* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

#search-content {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2px;
  background-color: #a4a4a4;
  -ms-grid-rows: (minmax(16px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(16px, 1fr));
  -ms-grid-columns: (minmax(16px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16px, 1fr));
}

#search-grid .box {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#search-grid .box.empty {
  background-color: #f5f5f5;
}

#search-grid .box.start {
  background-color: #0c75e8;
}

#search-grid .box.end {
  background-color: #f00;
}

#search-grid .box.wall {
  background-color: #000;
}

#search-grid .box.empty.visited {
  background-color: #b8fffd;
}

#search-grid .box.empty.path {
  background-color: #ffe100;
}

#search-grid .box.pulse {
  -webkit-animation: pulse 300ms ease-in forwards;
          animation: pulse 300ms ease-in forwards;
}

#search-grid .box.empty.visited.pulse {
  -webkit-animation: pulse-after 300ms ease-in forwards;
          animation: pulse-after 300ms ease-in forwards;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse-after {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #00f5f2;
  }
  15% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #b8fffd;
  }
}

@keyframes pulse-after {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #00f5f2;
  }
  15% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #b8fffd;
  }
}

#search-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(72, 72, 72, 0.8);
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  height: 50px;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
}

#search-buttons button {
  display: inline-block;
  background-color: #f5f5f5;
  font-size: 15px;
  padding: 5px 10px;
  margin: 2.5px 0;
  opacity: 0;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  pointer-events: none;
}

#search-buttons span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  pointer-events: none;
}

#search-buttons #clearSearch {
  margin-top: 20px;
}

#search-buttons.hover {
  width: 150px;
  height: 215px;
}

#search-buttons.hover span {
  opacity: 0;
}

#search-buttons.hover button.active {
  opacity: 1;
  pointer-events: auto;
}

#search-buttons button:hover {
  background-color: #0c75e8;
  color: white;
}
/*# sourceMappingURL=style.css.map */